main {
    display:flex;
    width: 1200px;
    height: 500px;
    margin: 0 auto;
    background-color: beige;
}
.main_references, .main_picture {
    display: block;
    height: 500px;
    margin: 0;
}
.main_references {
     width: 1000px;
}
.main_picture {
    margin-right: auto;
    margin-left: auto;;
}
.arrows {
    width:100px;
    height: 500px;
    margin: 0;
    background-color: beige;
}
#left_arrow {
    position: relative;
    top: 235px;
    left: 35px;
    width: 30px;
    height:30px;
}
#right_arrow {
    position: relative;
    transform: rotate(0.5turn);
    top: 235px;
    left: 35px;
    width: 30px;
    height:30px;
}
.title_text {
    display:block;
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    top: -150px;
    left: 0px;
    /* width: 980px; */
    height:50px;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    opacity: 0.6;
    background-color: grey;
}
.description_text {
    display:block;
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    text-align: justify;
    top: -150px;
    left: 0px;
    /* width: 980px; */
    height:100px;
    margin: 0;
    opacity: 0.6;
    background-color: grey;
    padding-left: 10px;
    padding-right: 10px;
}
container {
    display: flex;
    overflow-x: auto;
    width: 1200px;
    height: 150px;
    margin: 0;
    background-color: beige;
    margin-left: auto;
    margin-right: auto;

}
.thumb_pictures, thumb_nails {
    width: 130px;  
    height: 80px;
    margin: 35px 2px 2px 2px;
    padding: 5px;
    border-radius: 10px;
    background-color: grey;
    box-shadow:  0 0 5px 0 grey;}
.title {
    display: none;
    position: relative;
    background: grey;
    opacity: 0.6;
    color: white;
    font-size: 12px;
    border-radius: 5px;
    margin: 10px;
    padding: 3px 3px;
    top: -140px;
  }
  .thumb_nails:hover .title {
    display: block;
  }